body{
  margin: 0px;
  height: 100%;
  font-family:Monospace;
}
html{
  height: 100%;
}
.page-left {
  background-color: #4BAAF4;
  width: 18.75%;
  height: 100%;
  float: left;
}
.logo{
  width: 100%;
  height: 120px;
  font-family: AppleSDGothicNeo-ExtraBold;
  font-size: 150%;
  color: #FFFFFF;
  text-align: left;
}
.left-nav {
  width: 100%;
  height: 60px;
  font-size: 130%;
  margin-left: 30px;
  color: #FFFFFF;

}
.page-right {
  width: 81.25%;
  height:900px;
}

.page-right-nav{
  background-color: #FAFAFA;
  height: 60px;
  width: 100%;
}
.right-nav{
  height: 60;
  width: 10%;
  font-size: 120%;
  float: right;
}
.page-right-cont{
  margin-left: 90px;
  margin-right: auto;
}

/* Rectangle: */
background: #FAFAFA;
/* New: */
font-family: PingFangHK-Regular;
font-size: 30px;
color: #666666;
text-align: left;
/* All: */
font-family: PingFangHK-Regular;
font-size: 30px;
color: #666666;
text-align: left;
/* Pending: */
font-family: PingFangHK-Regular;
font-size: 30px;
color: #666666;
text-align: left;
/* Finished: */
font-family: PingFangHK-Regular;
font-size: 30px;
color: #666666;
text-align: left;
/* Rectangle 3: */
background: #4BAAF4;


/* Rectangle 2: */
background: #4BAAF4;
/* Rectangle 6: */
background: #45A4EF;
/* Request: */
font-family: PingFangHK-Semibold;
font-size: 36px;
color: #FFFFFF;
text-align: left;
/* Inventory: */
font-family: PingFangHK-Light;
font-size: 36px;
color: #FFFFFF;
text-align: left;
/* Price: */
font-family: PingFangHK-Light;
font-size: 36px;
color: #FFFFFF;
text-align: left;
/* Part Center: */
font-family: AppleSDGothicNeo-ExtraBold;
font-size: 60px;
color: #FFFFFF;
text-align: left;


/* Name of business: */
font-family: PingFangHK-Regular;
font-size: 24px;
color: #666666;
text-align: left;
/* Serial number: */
font-family: PingFangHK-Regular;
font-size: 24px;
color: #666666;
text-align: left;
/* What;s wrong with th: */
font-family: PingFangHK-Regular;
font-size: 24px;
color: #666666;
text-align: left;
/* Rectangle 5: */
background: #FAFAFA;
border: 1px solid #E1E1E1;
border-radius: 4px;
/* Rectangle 5 Copy 2: */
background: #FAFAFA;
border: 1px solid #E1E1E1;
border-radius: 4px;
/* Rectangle 5 Copy: */
background: #FAFAFA;
border: 1px solid #E1E1E1;
border-radius: 4px;
/* business imformation: */
font-family: PingFangHK-Medium;
font-size: 28px;
color: #333333;
text-align: left;
/* Oval: */
background: #4BAAF4;


/* Part number: */
font-family: PingFangHK-Regular;
font-size: 24px;
color: #666666;
text-align: left;
/* Quantity: */
font-family: PingFangHK-Regular;
font-size: 24px;
color: #666666;
text-align: left;
/* Rectangle 5: */
background: #FAFAFA;
border: 1px solid #E1E1E1;
border-radius: 4px;
/* Rectangle 5 Copy: */
background: #FAFAFA;
border: 1px solid #E1E1E1;
border-radius: 4px;
/* Line: */
border: 1px solid #EAEAEA;
/* part: */
font-family: PingFangHK-Medium;
font-size: 28px;
color: #333333;
text-align: left;
/* Oval Copy: */
background: #4BAAF4;


/* Contact name: */
font-family: PingFangHK-Regular;
font-size: 24px;
color: #666666;
text-align: left;
/* Telephone: */
font-family: PingFangHK-Regular;
font-size: 24px;
color: #666666;
text-align: left;
/* Rectangle 5: */
background: #FAFAFA;
border: 1px solid #E1E1E1;
border-radius: 4px;
/* Rectangle 5 Copy 6: */
background: #FAFAFA;
border: 1px solid #E1E1E1;
border-radius: 4px;
/* Rectangle 5 Copy 7: */
background: #FAFAFA;
border: 1px solid #E1E1E1;
border-radius: 4px;
/* Rectangle 5 Copy 3: */
background: #FAFAFA;
border: 1px solid #E1E1E1;
border-radius: 4px;
/* Rectangle 5 Copy 4: */
background: #FAFAFA;
border: 1px solid #E1E1E1;
border-radius: 4px;
/* Rectangle 5 Copy 5: */
background: #FAFAFA;
border: 1px solid #E1E1E1;
border-radius: 4px;
/* raduis: */
font-family: PingFangHK-Regular;
font-size: 24px;
color: #888888;
text-align: left;
/* Rectangle 5 Copy: */
background: #FAFAFA;
border: 1px solid #E1E1E1;
border-radius: 4px;
/* Address: */
font-family: PingFangHK-Regular;
font-size: 24px;
color: #666666;
text-align: left;
/* Address Copy: */
font-family: PingFangHK-Regular;
font-size: 24px;
color: #666666;
text-align: left;
/* Zip code: */
font-family: PingFangHK-Regular;
font-size: 24px;
color: #666666;
text-align: left;
/* City: */
font-family: PingFangHK-Regular;
font-size: 24px;
color: #666666;
text-align: left;
/* State: */
font-family: PingFangHK-Regular;
font-size: 24px;
color: #666666;
text-align: left;
/* Oval Copy 2: */
background: #4BAAF4;
/* shipping: */
font-family: PingFangHK-Medium;
font-size: 28px;
color: #333333;
text-align: left;
/* Line Copy: */
border: 1px solid #EAEAEA;
