{% extends 'request/checkbase.html' %}

{% block content %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% if request %}
    <ul>
    <li>PART NUMBER:   {{request.number}}</li>
    <li>DESCRIPTION:   {{request.item}}</li>
    <li>IN STOCK:      {{request.inventory}}</li>
    </ul>
{% else %}
    <p>No requests are available.</p>
{% endif %}

{% endblock %}
