<!DOCTYPE html>
<html>
<body>

<h2>Part Request</h2>

<form action="/submit">
  Incident Number: <input type="text" name="sksid">
  <br>
  Customer Name: <input type="text" name="cus_name">
  <br>
  Serial Number: <input type="text" name="sn">
  <br>
  Tech Name: <input type="text" name="tech_name">
  <br>
  <br>
  Shipping info
  <br>
  Contact: <input type="text" name="contact">
  <br>
  Address1: <input type="text" name="add1">
  <br>
  Address2: <input type="text" name="add2">
  <br>
  City: <input type="text" name="city">
  <br>
  State: <input type="text" name="state">
  <br>
  Zip Code: <input type="text" name="zip">
  <br>
  <br>
  Part Number: <input type="text" name="part_number">
  <br>
  Description: <input type="text" name="des">
  <br>
  Quantity: <input type="text" name="qty">
  <br>
  <input type="submit" value="Submit">
  <br>
</form>


</body>
</html>
